In [2]:
"""
(1): Find out the most frequent number and its frequency.
"""
nums = [1,30,4,5,4,30,0,9,30,30]
nums.sort()
print(nums)
print(nums.count(30))
print(f"the most freq. number is {30} and it was {4} times repeated.")

[0, 1, 4, 4, 5, 9, 30, 30, 30, 30]
4
the most freq. number is 30 and it was 4 times repeated.

In [ ]:
"""(2)- Find out if the given word is "comfortable words" in relation to the ten-finger keyboard use.

A comfortable word is a word which you can type always alternating the hand you type with 
(assuming you type using a Q-keyboard and use of the ten-fingers standard).

The word will always be a string consisting of only letters from a to z.

Write a program to returns True if it's a comfortable word or False otherwise."""

"""
Given  word	Desired Output (explanation)
tester	  -->   False (uses only left-hand fingers)*
polly	  -->   False (uses only right-hand fingers)*
clarusway -->	True (uses both hand fingers)*
"""

(3) - How to print an entered name 5 times in a row (with a single line of code) ?

In [7]:
x=input("Bir isim giriniz")
print(f"girilen isim {x}")
for i in range(5):
    print(x)

girilen isim ali
ali
ali
ali
ali
ali

(4).The provided code stub reads and integer, n , from console. For all non-negative integers , print i**2

Example
if n=4;  Print the square of each number on a separate line.

0

1

4

9

In [8]:
n = int(input("n..: "))
print(f"n:{n}")
if n>0:
    for i in range(n):
        print(i**2)

n:5
0
1
4
9
16

(5). Print the prime numbers which are between 1 to entered limit number (n).

You can use a nested for loop.
Collect all these numbers into a list

In [26]:
n=100
for i in range(n+1):
    if i>=2:
        if i%i==0 and i%2!=0 and i%3!=0:
            print(i,end=",")

5,7,11,13,17,19,23,25,29,31,35,37,41,43,47,49,53,55,59,61,65,67,71,73,77,79,83,85,89,91,95,97,

In [ ]:
# TODO
#The desired output for n=100 :

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59,
61, 67, 71, 73, 79, 83, 89, 97]

(6). Print the FizzBuzz numbers.

FizzBuzz is a famous code challenge used in interviews to test basic programming skills. It's time to write your own implementation.
Print numbers from 1 to 100 inclusively following these instructions:

*   if a number is multiple of 3, print "Fizz" instead of this number,


*   if a number is multiple of 5, print "Buzz" instead of this number,


*   for numbers that are multiples of both 3 and 5, print "FizzBuzz",


*  print the rest of the numbers unchanged.


*   Output each value on a separate line.

In [36]:
for i in range(1,101):
    if i%3==0 and i%5==0:
        print("FizzBuzz")
    elif i%5==0:
        print("Buzz")
    elif i%3==0: 
        print("Fizz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
# TODO

(7). Count the number of each letter in a sentence.
The department you work for undertook a project construction that makes word / text analysis. You are asked to calculate the number of letters or any chars in the sentences entered under this project.
Write a Python program that;

*   takes a sentence from the user,
*   counts the number of each letter/chars of the sentence,

*   collects the letters/chars as a key and the counted numbers as a value in a dictionary.

In [1]:
x=input("Bir cümle yaziniz")
y=list(x)
m=set(x)
for i in m:
    print(f"{i}:{y.count(i)}",end=",")

b:1,m:1,y:1,e:2,z:1, :1,i:1,g:1,r:1,u:1,n:1,o:1,

In [ ]:
# Sample inputs : hippo runs to us!	
# Outputs
{'s': 2, 'r': 1, 't': 1, 'h': 1, 'n': 1, 
'i': 1, 'u': 2, 'o': 2, 'p': 2, ' ': 3, '!': 1}

(8). To sum the amount of even / odd numbers in a list.

*   Write a code that counts odd and even numbers list.
*   print the result such as:


```
# entered n : 7
# random list with n elements (1-100) 
= [11,2,24,61,48,33,45]
# output: 
       the number of even numbers : 3
       the numbers of odd numbers : 4
```

In [9]:
import random
n=int(input("n sayisini giriniz"))
num_tek=[]
num_cift=[]
for i in range(n):
    x=random.randrange(1,100)
    if x%2==0:
        num_cift.append(x)
    else:
        num_tek.append(x)
print(f"sayilar: {num_tek+num_cift}")
print("tek sayilar",len(num_tek))
print("cift sayilar",len(num_cift))

sayilar: [23, 23, 11, 29, 98, 22, 82, 46]
tek sayilar 4
cift sayilar 4

(9). **Fibonacci series:**
Create a list consisting of Fibonacci numbers from 1 to 100 using control flow statements.

The desired output is like :

fibonacci →  [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [43]:
x=1
while x<=100:
    print(x)
    x+=x

1
2
4
8
16
32
64

In [ ]:
# TODO

**(10)** Find out if a given year is a "leap" year.

In the Gregorian calendar, three criteria must be taken into account to identify leap years:

*  The year must be evenly divisible by 4;
*  If the year can also be evenly divided by 100, it is not a leap year; unless...
*   The year is also evenly divisible by 400. Then it is a leap year.

According to these rules, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300, and 2500 are not the leap years.


Write a Python program that prints such as;

```
# "2020 is a leap year" if the given year by the user is a leap year, or "2019 is not a leap year" otherwise.
```

In [ ]:
# TODO

**(11).** Given the following three list, how would you create a new list that matches the desired output
printed below in Python?

```
fruits = ['Apples', 'Oranges', 'Bananas'] 
quantities = [5, 3, 4] 
prices = [1.50, 2.25, 0.89]
```
# Desired output 
```
[('Apples', 5, 1.50), 
('Oranges', 3, 2.25), 
('Bananas', 4, 0.89)]
```

In [52]:
fruits = ['Apples', 'Oranges', 'Bananas'] 
quantities = [5, 3, 4] 
prices = [1.50, 2.25, 0.89]
for x,y,z in zip(fruits,quantities,prices):
    print(x,y,z)

Apples 5 1.5
Oranges 3 2.25
Bananas 4 0.89

**(12)**.How to delete item in dictionary by a given/entered value? (Sözlük yapısında değeri(value) dışarıdan girilen bir item'ı nasıl silebiliriz?)

In [1]:
d = {'foo': 100, 'bar': 200, 'baz': 300, 'kar':400, 'var':500}

# TODO

silmek istediğiniz değeri giriniz..:300
desired output..:
{'foo': 100, 'bar': 200, 'kar': 400}

In [14]:
d = {'foo': 100, 'bar': 200, 'baz': 300, 'kar':400, 'var':500}
k=list(d.items()).reverse()
a=eval(input("Silmek istediginiz value'yu giriniz"))
del k[a]
print(k)

TypeError: 'NoneType' object does not support item deletion

**(13).** How to delete special characters (punctuations) in a string? (Bir string içerisindeki özel karakterler(punctations) nasıl silinir?)

In [14]:
my_str = "Python-101 dersi! kolay/zor mu?"
#TODO

desired output..:
Python101 dersi kolayzor mu

In [22]:
my_str = "Python-101 dersi! kolay/zor mu?"
k=list(my_str)
k.remove("-")
k.remove("!")
k.remove("/")
k.remove("?")
m="".join(k)
print(m)

Python101 dersi kolayzor mu

**(14).** Write a program that does multiplication without using the multiplication operator(not use *).

In [ ]:
# Çarpma operatörünü kullanmadan çarpma (a*b) işlemi yapan program...
# TODO

(15). How to code the following "for loop" with "while loop"?

In [15]:
# for loop;
for i in range(ord('a'),ord('z')+1):
    print(chr(i), end=" ")
# while eşdeğeri (while equivalent)?
# TODO

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [25]:
#(16). Numarası girilen kursiyerin adını yazan programı kodlayınız.
list_no = list(range(5101,5118))
list_name = ["Emre","Umut","Rizgar","Hanife", "Şule","Hüseyin","İrfan", "Nihal","Hüseyin Özer", "Esra","Yunus","Fatih","Halit","Emirhan","Mustafa"]

#TODO

desired output..:
Entered num..: 5104
Hanife

In [54]:
list_no = list(range(5101,5118))
list_name = ["Emre","Umut","Rizgar","Hanife", "Şule","Hüseyin","İrfan", "Nihal","Hüseyin Özer", "Esra","Yunus","Fatih","Halit","Emirhan","Mustafa"]
for x,y in zip(list_no,list_name):
    print(x,y)

5101 Emre
5102 Umut
5103 Rizgar
5104 Hanife
5105 Şule
5106 Hüseyin
5107 İrfan
5108 Nihal
5109 Hüseyin Özer
5110 Esra
5111 Yunus
5112 Fatih
5113 Halit
5114 Emirhan
5115 Mustafa